body,
html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(pink, blue); */
  /* background: linear-gradient(#9ec6ff, #0d4b32); */
  background-color: lightgray;
  margin: 0;
}

.calculator {
  /* display: inline-block; */
  /* height: 40vh;
  width: 30vh; */
  border: 2.5px solid #ffdf00;
  border-radius: 10px;
  /* background-color: royalblue; */
  padding: 5px;
  background: linear-gradient(#d47d97, #877fa8);
}

button {
  font-size: 1.5rem;
  padding: 10px;
  margin: 5px;
  border: 2.5px solid black;
  border-radius: 5px;
}

.display {
  /* height: 20%; */
  height: 3.5rem;
  max-width: 305px;
  font-size: 2rem;
  padding: 10px;
  margin: 5px;
  background-color: black;
  color: white;
  padding-right: 0.5rem;
  text-align: right;
  overflow: scroll;
  border: 2.5px solid black;
  border-radius: 5px;
}

.keypad {
  /* height: 80%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.operand {
  background-color: black;
  color: white;
}

.operand:hover {
  background-color: white;
  color: black;
}
.operator:hover {
  background-color: gray;
  color: white;
}

.equals:hover {
  background-color: #32cd32;
  color: white;
}

.admin {
  background-color: orange;
  border-color: none;
}

.admin:hover {
  background-color: #0080ff;
  color: white;
}

.equals {
  background-color: orangered;
}

/* media queries for galaxy fold */
