body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
  margin: 0;
  min-height: 100%;
}

.calculator {
  border: 2.5px solid lightgray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  background-color: #235789;
}

button {
  font-size: 0.75rem;
  padding: 10px;
  margin: 5px;
  border: 2.5px solid #191919;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.operand,
.operator:hover {
  background-color: #191919;
  color: white;
  border-color: rgb(20, 20, 20);
}

.operator,
.operand:hover {
  background-color: white;
  color: black;
  border-color: whitesmoke;
}

.admin {
  background-color: #f7c548;
  border-color: #f6bc28;
}

.admin:hover {
  background-color: #191919;
  color: #f7c548;
  border-color: black;
}

.equals {
  border-color: #cc5803;
  background-color: #ff6201;
}

.equals:hover {
  background-color: #32cd32;
  color: white;
  border-color: #2fa52f;
}

@media only screen and (min-width: 375px) {
  button {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 414px) {
  button {
    font-size: 1.5rem;
  }
}